<!--Section-->
<section class="position-relative">
    <!--Particle image--><img class="vlt-particle" src="assets/img/root/square-plus-pattern.png" data-animation-name="fadeInLeft" alt="" style="position: absolute; top: 0; left: 0; max-width: 232px; --animate-delay: .5s;" loading="lazy">
    <div class="vlt-gap-80"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <!--Animated block-->
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                    <!--Section title-->
                    <div class="vlt-section-title vlt-section-title--style-1"><span class="vlt-section-title__subtitle">Our Use Cases</span>
                        <h2 class="vlt-section-title__title">Bring your selph to life</h2>
                    </div>
                </div>
                <div class="vlt-gap-90"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 has-black-color">
        <!--Animated block-->
        <div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
            <!--Content slider-->
            <div class="vlt-content-slider " data-navigation-anchor=".vlt-posts-slider-anchor" data-gap="30" data-loop="enable" data-speed="" data-autoplay="0" data-autoplay-speed="" data-slides-centered="enable" data-slide-settings="{&quot;slides_to_show&quot;:&quot;auto&quot;}" data-free-mode="" data-slider-offset="" data-mousewheel="">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">

                            <article class="vlt-post video-post vlt-post--style-2">
                                <div class="vlt-post__media">
                                    <div class="video-button has-white-color text-center">
                                        <a class="vlt-post__link" href="https://vimeo.com/367945766" data-fancybox data-small-btn="true" rel="nofollow">
                                            <span><i class="icon-play"></i></span>
                                        </a>
                                        <img src="http://paul-themes.com/html/skape/assets/img/blog/listing/blog-listing-1.png" alt="" loading="lazy">
                                    </div>
                                </div>
                                <div class="vlt-post__content">
                                    <header class="vlt-post__header">
                                        <div class="vlt-post-meta"><span>16 Jan, 2020</span><span>Design</span>
                                        </div>
                                        <h3 class="vlt-post-title"><a href="#"> bearing whose fourth be above.</a>
                                        </h3>
                                    </header>
                                    <div class="vlt-post-excerpt">
                                        <p>Green cattle under make you greater own, grass hath days moveth gathering female make light divide.
                                        </p>
                                    </div>
                                </div>
                            </article>

                        </div>

                        <div class="swiper-slide">

                            <article class="vlt-post video-post vlt-post--style-2">
                                <div class="vlt-post__media">
                                    <div class="video-button has-white-color text-center">
                                        <a class="vlt-post__link" href="https://vimeo.com/367945766" data-fancybox data-small-btn="true" rel="nofollow">
                                            <span><i class="icon-play"></i></span>
                                        </a>
                                        <img src="http://paul-themes.com/html/skape/assets/img/blog/listing/blog-listing-1.png" alt="" loading="lazy">
                                    </div>
                                </div>
                                <div class="vlt-post__content">
                                    <header class="vlt-post__header">
                                        <div class="vlt-post-meta"><span>16 Jan, 2020</span><span>Design</span>
                                        </div>
                                        <h3 class="vlt-post-title"><a href="#">Creepeth  whose fourth be above.</a>
                                        </h3>
                                    </header>
                                    <div class="vlt-post-excerpt">
                                        <p>Green cattle under make you greater own, grass hath days moveth gathering female make light divide.
                                        </p>
                                    </div>
                                </div>
                            </article>

                        </div>
                        <div class="swiper-slide">

                            <article class="vlt-post video-post vlt-post--style-2">
                                <div class="vlt-post__media">
                                    <div class="video-button has-white-color text-center">
                                        <a class="vlt-post__link" href="https://vimeo.com/367945766" data-fancybox data-small-btn="true" rel="nofollow">
                                            <span><i class="icon-play"></i></span>
                                        </a>
                                        <img src="http://paul-themes.com/html/skape/assets/img/blog/listing/blog-listing-1.png" alt="" loading="lazy">
                                    </div>
                                </div>
                                <div class="vlt-post__content">
                                    <header class="vlt-post__header">
                                        <div class="vlt-post-meta"><span>16 Jan, 2020</span><span>Design</span>
                                        </div>
                                        <h3 class="vlt-post-title"><a href="#">Creepeth bearing  fourth be above.</a>
                                        </h3>
                                    </header>
                                    <div class="vlt-post-excerpt">
                                        <p>Green cattle under make you greater own, grass hath days moveth gathering female make light divide.
                                        </p>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                </div>
            </div>
            <div class="vlt-gap-80"></div>
            <div class="text-center">
                <!--Slider controls-->
                <div class="vlt-slider-controls vlt-slider-controls--style-1 vlt-posts-slider-anchor has-black-color">
                    <div class="vlt-swiper-button-prev"><i class="icon-arrow-left"></i>
                    </div>
                    <div class="vlt-swiper-pagination"></div>
                    <div class="vlt-swiper-button-next"><i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vlt-gap-80"></div>
</section>