<section>
	<div class="vlt-gap-120"></div>
	<div class="container">
		<div class="row">
			<div
				class="col-md-8 offset-md-2 text-center">
				<!--Animated block-->
				<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
					
				<!--Slider controls-->
					<div class="vlt-slider-controls vlt-slider-controls--style-1 vlt-testimonials-slider-anchor">
						<div class="vlt-swiper-button-prev">
							<i class="icon-arrow-left"></i>
						</div>
						&nbsp; &nbsp; <span class="vlt-display-1 vlt-section-title__subtitle">{{page.title}}</span> &nbsp; &nbsp;
						{# <div class="vlt-swiper-pagination alt"></div> #}
						<div class="vlt-swiper-button-next">
							<i class="icon-arrow-right"></i>
						</div>
					</div>
				</div>
				<!--Animated block-->
				<div
					class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
					<!--Content slider-->
					<div class="vlt-content-slider" data-navigation-anchor=".vlt-testimonials-slider-anchor" data-gap="10" data-loop="enable" data-speed="" data-autoplay="" data-autoplay-speed="" data-slides-centered="enable" data-slide-settings='{"slides_to_show":"auto"}' data-free-mode="" data-slider-offset="" data-mousewheel="">
						<div class="swiper-container">
							<div class="swiper-wrapper">

								{% for item in page.header.testimonials %}
                                <div
									class="swiper-slide">
									<!--Testimonial-->
                                    <div class="vlt-testimonial vlt-testimonial--style-3 alt">
										<div class="vlt-testimonial__meta">
                                        	<div class="vlt-testimonial__avatar" style="background-image:url({{ page.media.images[item.image].cropResize(300, 300).url }})">&nbsp;</div>
										</div>
									</div>
								</div>
                                {% endfor %}
								
							</div>
						</div>
					</div>
		

				</div>
			</div>
		</div>
	</div>
</section>
