<!--Section-->
<section class="jarallax has-white-color has-black-background-color text-center"><img class="jarallax-img" src="{{ page.media.images[page.header.videoBackdrop].url }}" alt="" loading="lazy">
    <div class="vlt-gap-240"></div>
    <!--Video button-->
    <div class="vlt-video-button "><a href="{{ page.header.videoUrl }}" data-fancybox data-small-btn="true" rel="nofollow"><i class="icon-play"></i></a>
    <h6>{{page.header.playButtonLabel}}</h6>
    </div>
    <div class="vlt-gap-240"></div>
</section>
<!--Section-->